<nav class = "navbar navbar-expand-md push-margin-top-20">
        <div *ngIf="isMainPage; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <div class="flex-container animate__animated animate__shakeY">
                <img class="img-responsive" src="../../../assets/nina-logo-3.svg">
                <div class="push-margin-left-10">
                    <br>
                    <h1 class="title2 push-margin-bottom-0"> {{title | uppercase}}</h1>
                    <h3 class="push-margin-top-0">BIM, Revit API, etc...</h3>
                </div>    
            </div>
        </ng-template>
        <ng-template #elseBlock>
            <h1 class="title2"> {{title | uppercase}} </h1>
        </ng-template>
    <div class = "push-right navbar-nav d-none d-lg-block d-xl-block">
        <button class ="menu-button" 
                *ngFor="let section of sections; index as i" 
                [routerLink]="section"> 
                    {{section | uppercase}} 
        </button>
    </div>
</nav>
