<!-- <div class ="container animate__animated animate__fadeIn">
    <p class="n-paragraph-small  push-margin-top-80">THIS PROJECT</p>
    <p class ="n-paragraph">As the most of this work was done on Sunday mornings with Nina, this project is named for her. This project has and older sibling: RevitAPIExtension. I started both about at the same time, as a way to practice and learn new staff. RevitAPIExtension allow me to develop and deploy faster. Nina allow me practice new methodologies or tricks that I add into RevitAPIExtension later. It is a back and foward.  
    </p>
</div> -->
<nina-in-progress-msg></nina-in-progress-msg>