@import '~bootstrap/dist/css/bootstrap.min.css'
body
    font-family: 'Raleway', sans-serif
    font-weight: 900

h1, h2 
    font-weight: 900

h3, h4
    font-weight: 800


.container
    width: 90%
    
.img-responsive
    height: 180px

.img-centered
    display: block
    margin-left: auto
    margin-right: auto

.flex-container
    display: flex
    flex-direction: row 
    flex-wrap: nowrap

.title2
    font-weight: 700
    letter-spacing: -2px
    font-size: 65px
    font-weight: 900

.subtitle
    font-size: 69px
    line-height: 92%  
    font-weight: 800

.subtitle-md
    font-size: 59px
    line-height: 92%  
    font-weight: 800

.subtitle-xs
    font-size: 39px
    line-height: 92%  
    font-weight: 800

.cont-md
    text-align: center


.cont-xs
    text-align: center

.selected-title
    color: #0084ff

.img-responsive
    width: 130px

.push-margin-top-120
    margin-top: 120px

.push-margin-top-80
    margin-top: 120px

.push-margin-top-20
    margin-top: 20px

.push-margin-top-0
    margin-top: 0px 

.push-margin-bottom-0
    margin-bottom: 0px 

.push-margin-bottom-50
    margin-bottom: 50px 

.push-right
    margin-right: 20px
    margin-left: auto

.push-margin-left-10
    margin-left: 10px
    padding-bottom: 0px

.n-paragraph
    font-size: 25px
    font-weight: 300

.n-paragraph-small
    font-size: 25px
    font-weight: 900




